<div class="row">
  <div class="large-6 columns">
    <p>
      <a href="#" class="small button">Simple Button</a><br/>
      <a href="#" class="small radius button">Radius Button</a><br/>
      <a href="#" class="small round button">Round Button</a><br/>
      <a href="#" class="medium button">Secondary Btn</a>
    </p>
  </div>

  <div class="large-6 columns">
    <p>
      <a href="#" class="secondary small button">Simple Button</a><br/>
      <a href="#" class="secondary small radius button">Radius Button</a><br/>
      <a href="#" class="secondary small round button">Round Button</a><br/>
      <a href="#" class="secondary medium button">Secondary Btn</a>
    </p>
  </div>
</div>