<section class="slat">
  <div class="row">
    <div class="large-4 columns">
      <div class="color-tile bg-primary">
        <strong>Primary</strong>
        <code>($primary-color) <span class="color-tile__value js-color-label">#ff2160</span></code>
      </div>
    </div>

    <div class="large-4 columns">
    <div class="color-tile bg-secondary">
        <strong>Secondary</strong>
        <code>($secondary-color) <span class="color-tile__value js-color-label">#00c8e4</span></code>
      </div>
    </div>

    <div class="large-4 columns">
      <div class="color-tile bg-darken">
        <strong>Dark</strong>
        <code>($dark-color) <span class="color-tile__value js-color-label">#003f65</span></code>
      </div>
    </div>

    <div class="large-4 columns">
      <div class="color-tile bg-warning">
        <strong>Warning</strong>
        <code>($warning-color) <span class="color-tile__value js-color-label">#f08a24</span></code>
      </div>
    </div>

    <div class="large-4 columns">
      <div class="color-tile bg-deep">
        <strong>Deep</strong>
        <code>($deep-color) <span class="color-tile__value js-color-label">#010b17</span></code>
      </div>
    </div>

    <div class="large-4 columns">
      <div class="color-tile bg-white">
        <strong>White</strong>
        <code>($white-color) <span class="color-tile__value js-color-label">#fff</span></code>
      </div>
    </div>

    <div class="large-4 columns end">
      <div class="color-tile bg-black">
        <strong>Space</strong>
        <code>($space-color) <span class="color-tile__value js-color-label">#000</span></code>
      </div>
    </div>
  </div>
 </section>