<li><a href="index">Style Tile</a></li>
<li><a href="type">Typography</a></li>
<li><a href="grid">Grid System</a></li>
<li class="has-dropdown"><a href="atoms">Atoms</a>
  <ul class="dropdown">
    <li><a href="forms">Form Elements</a></li>
    <li><a href="utilities">Utilities</a></li>
  </ul>
</li>
<li class="has-dropdown"><a href="molecules">Molecules</a>
  <ul class="dropdown">
    <li><a href="navigation">Navigation</a></li>
    <li><a href="asides">Asides</a></li>
  </ul>
</li>
<li class="has-dropdown"><a href="organisms">Organisms</a>
  <ul class="dropdown">
    <li><a href="navigation">Header</a></li>
    <li><a href="utilities">Footer</a></li>
  </ul>
</li>
<li class="has-dropdown"><a href="templates">Templates</a>
  <ul class="dropdown">
    <li><a href="single-article">Single Article</a></li>
    <li><a href="archive">Archive</a></li>
    <li><a href="full-page-grid">Full Page Grid</a></li>
  </ul>
</li>
<li class="has-dropdown"><a href="pages">Pages</a>
  <ul class="dropdown">
    <li><a href="home">Homepage</a></li>
  </ul>
</li>