.slat {
  padding: $medium-space 0;

  @media #{$medium-up} {
    padding: $large-space $medium-space;
  }

  @media #{$large-up} {
    padding: $medium-space 0;
  }
}

.block {
  padding: $small-space $small-space $medium-space;

  &-footer {
    margin-top: $small-space;
  }
}
