// Spacing config
$small-space: 1.25rem;
$medium-text-space: 2.1875rem;
$medium-space: 3.125rem;
$large-space: 3.75rem;
$xlarge-space: 6.25rem;

// Rhythm helper classes
.no-margin {
  margin: 0 !important;
}

.rhythm {
  margin-bottom: $xlarge-space !important;
}

.rhythm-up {
  padding-top: $xlarge-space !important;
}

// Grid collapse space classes
.column-collapse {
  .columns {
    padding: 0;
  }
}

.collapse {
  &.columns {
    padding: 0;
  }
}  

// Padding spacer classes
.padd-up-1 {
  padding-top: $small-space;
}

.padd-down-1 {
  padding-bottom: $small-space;
}

.padd-up-2 {
  padding-top: $medium-text-space;
}

.padd-down-2 {
  padding-bottom: $medium-text-space;
}

.padd-up-3 {
  padding-top: $medium-space;
}

.padd-down-3 {
  padding-bottom: $medium-space;
}

.padd-up-4 {
  padding-top: $large-space;
}

.padd-down-4 {
  padding-bottom: $large-space;
}

.padd-up-5 {
  padding-top: $xlarge-space;
}

.padd-down-5 {
  padding-top: $xlarge-space;
}

// Pattern library object
.spacer {
  background: rgba($space-color, .2);
  display: block;
  margin-bottom: $small-space;

  span {
    display: block;
    background: $primary-color;
    height: 0;
    width: 1rem;
  }
}