<nav class="tab-bar hide-for-large-up">
  <section class="right-small">
    <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">MOS: Patterns</h1>
  </section>
</nav>

<aside class="right-off-canvas-menu">
  <ul class="off-canvas-list">
    {% include "atoms/pattern-items" %}
  </ul>
</aside>

<nav class="top-bar show-for-large-up" data-topbar role="navigation">
  
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">MOS Patterns</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      {% include "atoms/pattern-items" %}
    </ul>
  </section>
</nav>