<section class="slat bg-darken">
    <div class="row padd-down-3">
      <div class="large-12 columns">
        <h3 class="t-spaced">Text Styles</h3>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <header class="padd-down-2">
          <p class="zeta no-margin"><span class="t-caps">Desktop H1</span> Roboto Medium 6.583 ems</p>
          <p class="zeta"><span class="t-caps">Mobile H1</span> Roboto Medium 4.11 ems</p>
          <h1>Walking in Space</h1>
        </header>
{% comment %}        <header>
          <h1 class="">Walking in Space</h1>
        </header>{% endcomment %}
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <header class="padd-down-2">
          <p class="zeta no-margin"><span class="t-caps">Desktop H2</span> Roboto Medium 1.802 ems</p>
          <p class="zeta"><span class="t-caps">Mobile H2</span> Roboto Medium 1.125 ems</p>
          <h2>Walking in Space</h2>
        </header>
        <header class="padd-down-2">
          <p class="zeta no-margin"><span class="t-caps">Desktop H3</span> Roboto Medium 1.125 ems ALL CAPS Letter Spacing: 200</p>
          <p class="zeta"><span class="t-caps">Mobile H3</span> Roboto Medium .702 ems ALL CAPS Letter Spacing: 200</p>
          <h3>Walking in Space</h3>
        </header>
        <header class="padd-down-2">
          <p class="zeta no-margin"><span class="t-caps">Desktop B1</span> Roboto Medium 1.266 ems</p>
          <p class="zeta"><span class="t-caps">Mobile  B1</span> Roboto Medium .79 ems</p>
          <h4>Walking in Space</h4>
        </header>
      </div>
      {% comment %}<div class="large-6 columns">
        <header>
          <p>Mobile</p>
          <h2>Walking in Space</h2>
        </header>
        <header>
          <p>Mobile</p>
          <h3>Walking in Space</h3>
        </header>
        <header>
          <p>Mobile</p>
          <h4>Walking in Space</h4>
        </header>
      </div>{% endcomment %}
    </div>
  </section>