{% layout "patterns" %}
{% block content %}

  <section class="slat">
  <div class="row">
    <div class="section-label">
      <div class="section-label_label">
        <h3 class="no-margin">Aside</h3>
      </div>
    </div>
  </div>
</section>

<div class="row">
{% include "organisms/sidebar" %}

 <div class="small-12 medium-6 large-8 columns">
    <div class="code">
    <xmp class="prettyprint lang-html sunburst">

  <aside class="block bg-wash">
    <header class="block-header">
      <h4 class="zeta t-caps">Floorplan</h4>
    </header>
    <figure class="block-figure">
      <img src="path/to/image">
    </figure>
    <footer class="block-footer">
      <a href="#">download PDF</a>
    </footer>
  </aside>

  <aside class="block">
    <header class="block-header">
      <h4 class="zeta t-caps">Ask an Astronomer</h4>
    </header>
    <article class="block-article">
      <h2>Mandy Beamer, Astronomer</h2>
    </article>
    <footer class="block-footer">
      <a href="#" class="button">Ask Mandy</a>
    </footer>
  </aside>

  <aside class="block bg-ghost">
    <header class="block-header">
      <h4 class="zeta t-caps">Feedback</h4>
    </header>
    <article class="block-article">
      <h2>What was your favorite part of the show?</h2>
    </article>
    <footer class="block-footer">
      <a href="#">join the dicussion</a>
    </footer>
  </aside>
    </xmp>
    </div>
 </div>   
</div>

{% endblock %}