{% layout "patterns" %}
{% block content %}

  <section class="slat">
  <div class="row">
    <div class="section-label">
      <div class="section-label_label">
        <h4 class="no-margin">Asides</h4>
      </div>
    </div>
  </div>
</section>

{% endblock %}