{% layout "patterns" %}
{% block content %}
<section class="slat">
  <div class="row">
    <div class="section-label">
      <div class="section-label_label">
        <h4 class="no-margin">Atoms</h4>
      </div>
    </div>
  </div>
</section>

<section class="slat">
  <div class="row">
    <div class="large-9 large-centered columns">
      <article class="type-system-geometric">
        <p>In chemistry, atoms are the basic building blocks of matter. They have distinct properties and can't be broken down further without losing their meaning.</p>

        <p>Translated to interfaces, atoms are basic tags, such as form labels, inputs or buttons. They also include more abstract elements like color palettes, fonts, and animations.</p>

        <p>Atoms are abstract and aren't often terribly useful on their own, but they provide a useful reference and allow you to see all your global styles laid out at a glance.</p>
      </article>
    </div>
  </div>
</section>

{% endblock %}