{% layout "patterns" %}
{% block content %}
<section class="slat">
  <div class="row">
    <div class="section-label">
      <div class="section-label_label">
        <h3 class="no-margin">Footer</h3>
      </div>
    </div>
  </div>
</section>

{% include "organisms/footer" %}

{% endblock %}