{% layout "patterns" %}
{% block content %}

<section class="slat">
  <div class="row">
    <div class="large-12 large-centered columns">
      <h5>We bet you&rsquo;ll need a form somewhere:</h5>
        {% include "organisms/pattern-form" %}
    </div>
  </div>
 </section>

<section class="slat">
  <div class="row">
    <div class="large-9 large-centered columns">
      <h5>We bet you&rsquo;ll need a form somewhere:</h5>
      {% include "organisms/pattern-form" %}
    </div>
  </div>
 </section>
{% endblock %}