{% layout "patterns" %}
{% block content %}

<section class="slat">
  <div class="row">
    <div class="section-label">
      <div class="section-label_label">
        <h4 class="no-margin">Grid</h4>
      </div>
    </div>

    <div class="pattern-info">
      <div class="pattern-info_description">
        {% comment %}<h4 class="as-h4">.hero</h4>{% endcomment %}
        <p class="epsilon">Start by adding an element with a class of <code>row</code>. This will create a horizontal block to contain vertical columns. Then add divs with a <code>column</code> class within that row. You can use <code>column</code> or <code>columns</code> - the only difference is grammar. Specify the widths of each column with the small-#, medium-#, and large-# classes.</p>
      </div>
    </div>
  </div>
</section>

<section class="slat">
  <div class="row">
  <div class="large-12 large-centered columns">
    <h5>Full page grid: 12 column</h5>
    {% include "organisms/pattern-grid" %}
  </div>
  </div>
 </section>

<section class="slat">
  <div class="row">
    <div class="large-9 large-centered columns">
      <h5>Inset page grid: 9 column</h5>
      {% include "organisms/pattern-grid" %}
      </div>
  </div>
 </section>
{% endblock %}