{% layout "patterns" %}
{% block content %}

<section class="slat">
  <div class="row">
  <div class="large-12 large-centered columns">
    {% include "organisms/pattern-grid" %}
  </div>
  </div>
 </section>

<section class="slat">
  <div class="row">
    <div class="large-9 large-centered columns">
      {% include "organisms/pattern-grid" %}
      </div>
  </div>
 </section>
{% endblock %}