{% layout "patterns" %}
{% block content %}
<section class="slat">
  <div class="row">
    <div class="section-label">
      <div class="section-label_label">
        <h4 class="no-margin">Hero</h4>
      </div>
    </div>

    <div class="pattern-info">
      <div class="pattern-info_description">
        <h4 class="as-h4">.hero</h4>
        <p>Default variation</p>
      </div>
    </div>
  </div>
</section>

{% include "molecules/hero" %}

{% endblock %}