{% layout "patterns" %}
{% block content %}
<section class="slat">
  <div class="row">
    <div class="section-label">
      <div class="section-label_label">
        <h3 class="no-margin">Hero</h3>
      </div>
    </div>

    <div class="pattern-info">
      <div class="pattern-info_description">
        <p><code class="bold">.hero</code></p>
        <p class="epsilon">Default variation</p>
      </div>
    </div>
  </div>
</section>

{% include "molecules/hero" %}

<section class="slat">
  <div class="row">
    <div class="code">
      <xmp class="prettyprint lang-html sunburst">
    <section class="hero">
      <figure class="cover" style="background-image: url(http://placehold.it/2880x1620);">  
      </figure>

      <header class="hero-offset">
        <h3>Interactive Exhibition</h3>
        <h1>Walking in Space</h1>
        <p>Join astronauts as they go on spacewalks, miles above the Earth. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </header>
    </section>
      </xmp>
    </div>
  </div>
</section>
{% endblock %}