{% layout "patterns" %}
{% block content %}

<section class="slat">
  <div class="row">
    <div class="section-label">
      <div class="section-label_label">
        <h3 class="no-margin">Navigation</h3>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="large-12 large-centered columns">
      <h5>Desktop Navigation</h5>
    </div>
  </div>
</section>    
{% include "organisms/nav" %}

<section class="slat">
  <div class="row">
    <div class="code">
      <xmp class="prettyprint lang-html sunburst">
    <nav class="top-bar show-for-large-up" role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Ministry of Space</a></h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="main-nav right">
          <li><a href="#">About</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Visit</a></li>
          <li><a href="#">Exhibitions</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Educate</a></li>
          <li><a href="#">Resources</a></li>
        </ul>
      </section>
    </nav>
      </xmp>
    </div>
  </div>
</section>

<section class="slat">
  <div class="row">
    <div class="large-4 large-centered columns">
      <h5>Mobile Navigation</h5>
      <nav class="tab-bar">
        <section class="right-small">
          <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
        </section>

        <section class="middle tab-bar-section">
          <h1 class="title">Ministry of Space</h1>
        </section>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="large-4 large-centered columns">
    <div class="code">
      <xmp class="prettyprint lang-html sunburst">
    <nav class="tab-bar">
      <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title">Ministry of Space</h1>
      </section>
    </nav>
      </xmp>
    </div>
    </div>
  </div>
</section>

{% endblock %}